################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebAppProjekt/bin/Debug/net7.0
/.vs
/WebAppProjekt/obj
